@import "~@lkmx/flare/src/flare";
@import "_color";
@import "_text";
@import "_space";
@import "_default-layout";
@import "./pages/_home";
@import "./pages/_services";
@import "./pages/_discovery";
@import "./pages/_application-development";
@import "./pages/_application-maintenance";

$mid-gray-color: #939ead;
$layout-color: $mid-gray-color;

:root {
  --f-header-text-color: white;
  --f-header-height: 120px;
}

body {
    background: var(--color-neutral-white);
    &.fixed {
      overflow: hidden;
    }
}

.--flare {
  .no-padding {
    background: red;
    .box {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
