.application-development {
  overflow: hidden;
}

#body-index {
  &__hero-app-development {
    background: var(--color-accent-blue-01);
    @include respond-to(">=xl") {
      grid-template-rows: 581px;
    }
    .content {
      .box {
        display: grid;

        padding: 0;
        justify-content: center;
        height: 100%;
        @include respond-to(">=xl") {
          grid-template-columns: 1040px;
        }
      }
    }
  }
  &__help-title--app-development {
    height: 126px;
    .content {
      .box {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        justify-content: center;
        height: 100%;
        @include respond-to(">=xl") {
          grid-template-columns: 1040px;
        }
        h4 {
          align-self: end;
          padding: var(--f-gutter);
          font-weight: var(--f-h2-text-weight);
        }
      }
    }
  }
  &__help-sections-app-development {
    display: grid;
    @include respond-to(">=xl") {
      grid-template-columns: 499px 499px;
    }
    @include respond-to("<=s") {
      gap: 0;
      padding-top: var(--f-gutter-xl);
    }
    justify-content: center;
    gap: var(--f-gutter-xl);
    padding: 0;
    padding-bottom: var(--f-gutter-xxl);
    .content {
      justify-content: center;
      .box {
        padding-bottom: 40px;
        @include respond-to("<=s") {
          padding-top: 0;
          padding-bottom: var(--f-gutter);
        }
      }
    }  
  }
  &__diagram-app-development {
    padding: 0 0;
    justify-content: center;
    display: grid;
    grid-template-columns: 1040px;
    overflow: hidden;
    .content {
      .box {
        padding: 0;
        position: relative;
        height: 642px;
        img {
          position: absolute;
          left: -1763px;
          right: 0;
          height: 642px;
          max-width: unset !important;
        }
      }
    }
  }
  &__buttons-app-development {
    background-color: var(--color-neutral-gray-05);
    justify-content: center;
    padding: 0 200px;
    @include respond-to(">=xl") {
      grid-template-columns: 1040px;
    }
    @include respond-to("<=l") {
      padding: 0 var(--f-gutter);
    }
    .--flare-block {
      .content {
        .box {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-flow: column;
          gap: var(--f-gutter-xl);
          padding: 0;
          @include respond-to("<=s") {
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            gap: var(--f-gutter);
          }
        }
      }
    }
  }
  &__planning-app-development {
    @include respond-to(">=xl") {
      grid-template-columns: 478px 520px;
    }
    justify-content: center;
    gap: var(--f-gutter-xl);
    #planning__app-development-content {
      // border: 1px solid green;
      .content {
        display: grid;
        align-items: center;
        // border: 1px solid red;
        .box {
          // border: 1px solid purple;
          display: grid;
          gap: var(--f-gutter-xl);
          padding: var(--f-gutter);
          align-self: center; 
          h3 {
            color: var(--color-neutral-gray-01);
            font-weight: normal;
            width: 90%;
            margin-bottom: 0;
            strong {
              font-weight: var(--f-h2-text-weight);
            }
            font-family: var(--f-default-text-font);
          }
          p {
            width: fit-content;
            font-family: var(--f-mono-text-font);
            background-color: var(--color-accent-pink);
            padding: 11px 20px;
            line-height: 20px;
            a {
              color: var(--color-neutral-white);
              text-decoration: none;              
            }
          }
        }
      }
    }
    #planning__app-development-image {
      .content {
        .box {
          padding: 0;
          @media screen and(max-width: 1439px) {
            padding: 0;
            @include respond-to("<=m") {
              padding: var(--f-gutter);
              @include respond-to("<=m") {
                padding: var(--f-gutter);
              }
            }
          }
          img {
            max-width: unset;
            height: 608px;
            @media screen and(max-width: 1439px) {
              max-width: 100%;
              height: auto;
              padding: 0;
            }
          }
        }
      }
    }
  }
  &__who-we-are-app-development {
    background-color: var(--color-neutral-black);
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    padding-bottom: 90px;
    @include respond-to(">=xl") {
      grid-template-columns: 347px 693px;
    }
    @include respond-to("<=m") {
      padding: var(--f-gutter);
      grid-auto-flow: row;
      padding: 0;
    }
    .--flare-block {
      .content {
        .box {
        }
      }
    }
    #who-we-are-description {
      padding-top: 120px;
      .content {
        .box {
          display: grid;
          gap: var(--f-gutter-l);
          padding-top: 0;
          p {
            color: var(--color-neutral-white);
            margin-bottom: 0;
            strong {
              font-weight: bolder;
            }
          }
          p:last-child {
            width: fit-content;
            font-family: var(--f-mono-text-font);
            background-color: var(--color-accent-pink);
            padding: 11px 20px;
            line-height: 20px;
            a {
              color: var(--color-neutral-white);
              text-decoration: none;              
            }
          }
        }
      }
    }
    #who-we-are-image {
      padding-bottom: 90px;
      @include respond-to("<=m") {
        padding-bottom: 0;
      }
      .content {
        .box {
          img {
            max-width: unset;
            height: 438px;
            transform: translate(1px, 90px);
            @include respond-to("<=m") {
              height: auto;
              max-width: 100%;
              transform: initial;
            }
          }
        }
      }
    }
  }
}