@import "../_general-functions";


#body-index {
    .--flare-frame {
      z-index: 1;
    }

    h2 {
      color: var(--color-accent-pink);
    }

    &__intro {
      @include spacer();
      background: linear-gradient(90deg, var(--color-neutral-white) 0%, rgba(255, 255, 255, 0.498915) 50.11%, rgba(255, 255, 255, 0) 50.11%, rgba(255, 255, 255, 0) 100%);
    }

    &__services {
      &__description {
        background-color: var(--color-neutral-white);
        @include spacer(l, $rm: b);
        @include gridGap(var(--f-gutter-l));
        p {
          width: 70%;
          @include respond-to("<=m") {
            width: 100%;
          }
        }
      }

      &__diagram {
        @include spacer($rm: t, $rm-box-p:sides);
        background-color: var(--color-neutral-white);
      }
    }

    &__methodology {
      @include spacer(l);
      background-color: var(--color-neutral-white);

      .content {
        display: grid;
        align-items: center;
      }

      &__description {
        @include gridGap(var(--f-gutter-l));

        @include respond-to("<=m") {
          text-align: center;

          img {
            display: inline-block;
          }
        }

        p {
          width: 60%;

          @include respond-to("<=m") {
            width: 100%;
          }
        }
      }
    }

    &__experience {
      @include spacer(l, $rm-box-p: sides);
      background-color: var(--color-neutral-white);
      .content {
        display: grid;
        align-items: start;
      }

      &__diagrams {}

      &__description {
        @include gridGap(var(--f-gutter-l));

        @include respond-to("<=m") {
          padding-left: var(--f-gutter);
          padding-right: var(--f-gutter);
        }

        p {
          max-width: 382px;
        }
      }
    }

    &__technology {
      background-color: var(--color-neutral-gray-04);
      text-align: center;
      @include spacer(l);

      .content {
        .box {
          @include grid($g: var(--f-gutter-xl), $ji:center);

          h4 {
            max-width: 600px;
            color: var(--color-neutral-gray-01);
          }
        }
      }
    }

    &__vision {
      background-color: var(--color-neutral-black);
      display: grid;
      grid-template-columns: 347px 693px;
      grid-template-rows: 650px;
      grid-auto-flow: column;
      justify-content: center;
      #vision {
        &__description {
          padding-top: 120px;
          .content {
            .box {
              display: grid;
              gap: var(--f-gutter-l);
              padding-top: 0;
              p {
                color: var(--color-neutral-white);
                margin-bottom: 0;
                strong {
                  font-weight: bolder;
                }
              }
            }
          }
        }
        &__image {
          .content {
            .box {
              img {
                max-width: unset;
                height: 438px;
                transform: translate(1px, 90px);
              }
            }
          }
        }
      }
    }
  }
