.services {
  .simple-header {
    height: auto;
  }
}
#body-index {
  &__services-rubbon {
    background: var(--color-accent-blue-01); 
    display: grid;
    min-height: max-content;
    padding: 62px 0;
    // z-index: 1;
    justify-content: center;
    @include respond-to("<=m") {
      grid-template-columns: 1fr;
      padding: var(--f-gutter);
    }
    .--flare-block {
      grid-column: 2;
      .content {
        .box {
          padding: 0;   
          p {
            color: var(--color-neutral-white);
            line-height: 20px;
            margin: 0;
            line-height: var(--f-paragraph-line-height);
            @include respond-to(">=xl") {
              max-width: 532px;
              @include respond-to(">=m") {
                min-height: 72px;
                transform: translateX(-10px);
              }            
            }
          } 
        }
      } 
    }
  }
  &__services-cubes-title {
    height: 158px;
    @include respond-to("<=m") {
      height: 130px;
    }
    .content {
      .box {
        display: grid;
        grid-template-columns: 661px;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        padding: 0;
        @include respond-to("<=m") {
          grid-template-columns: 1fr;
          padding: var(--f-gutter);
        }
        p {
          text-align: center;
          color: var(--color-neutral-gray-01);
        }
        p strong {
          font-weight: bold;
        }
      }
    }
  }
  &__services-diagram {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    overflow: hidden;
    height: 650px;
    @include respond-to(">=xl") {
      grid-template-columns: 1040px;
    }
    @include respond-to("<=m") {
      height: 300px;
    }
    .content {
      .box {
        padding: 0;
        position: relative;
        @include respond-to("<=m") {
          height: auto;
        }
        img {
          position: absolute;
          left: -1400px;
          right: 0;
          height: 650px;
          max-width: unset !important;
          @include respond-to("<=m") {
              height: 300px;
              right: 0;
              left: -500px;
              @include respond-to("<=s") {
                height: 300px;
                left: -700px;
              }
          }
        }
      }
    }
  }
  &__services-cubes {
    display: grid;
    justify-content: center;
    // padding: 0 auto;
    gap: var(--f-gutter);
    margin-bottom: 100px;
    @include respond-to(">=xl") {
      grid-template-columns: repeat(3, 336px);
    }
    @include respond-to("<=m") {
      grid-template-columns: 1fr;
      padding: var(--f-gutter);
    }
    .--flare-block {
      .content {
        .box {
          @include respond-to("<=m") {
            padding: 0;
          }
        }
      } 
    }
  }
  &__who-we-are-services {
    background-color: var(--color-neutral-black);
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    padding-bottom: 90px;
    overflow: hidden;
    @include respond-to(">=xl") {
      grid-template-columns: 347px 693px;
    }
    @include respond-to("<=m") {
      padding: var(--f-gutter);
      grid-auto-flow: row;
      padding: 0;
    }
    .--flare-block {
      .content {
        .box {
        }
      }
    }
    #who-we-are-description {
      padding-top: 120px;
      .content {
        .box {
          display: grid;
          gap: var(--f-gutter-l);
          padding-top: 0;
          p {
            color: var(--color-neutral-white);
            margin-bottom: 0;
            strong {
              font-weight: bolder;
            }
          }
          p:last-child {
            width: fit-content;
            font-family: var(--f-mono-text-font);
            background-color: var(--color-accent-pink);
            padding: 11px 20px;
            line-height: 20px;
            a {
              color: var(--color-neutral-white);
              text-decoration: none;              
            }
          }
        }
      }
    }
    #who-we-are-image {
      padding-bottom: 90px;
      @include respond-to("<=m") {
        padding-bottom: 0;
      }
      .content {
        .box {
          img {
            max-width: unset;
            height: 438px;
            transform: translate(1px, 90px);
            @include respond-to("<=m") {
              height: auto;
              max-width: 100%;
              transform: initial;
            }
          }
        }
      }
    }
  }
}