#body-services {
  .simple-header {
    height: auto;
  }
}
#body-index {
  &__services-rubbon {
    background: var(--color-accent-blue-01); 
    display: grid;
    grid-template-columns: 508px 532px;
    min-height: max-content;
    padding: 62px 200px;
    // z-index: 1;
    justify-content: center;
    @include respond-to("<=m") {
      grid-template-columns: 1fr;
      padding: var(--f-gutter);
    }
    .--flare-block {
      grid-column: 2;
      .content {
        .box {
          padding: 0;   
          p {
            color: var(--color-neutral-white);
            line-height: 20px;
            margin: 0;
            line-height: var(--f-paragraph-line-height);
          } 
        }
      } 
    }
  }
  &__services-cubes-title {
    height: 158px;
    .content {
      .box {
        display: grid;
        grid-template-columns: 661px;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        padding: 0;
        @include respond-to("<=m") {
          grid-template-columns: 1fr;
          padding: var(--f-gutter);
        }
        p {
          text-align: center;
          color: var(--color-neutral-gray-01);
        }
        p strong {
          font-weight: bold;
        }
      }
    }
  }
  &__services-diagram {
    justify-content: center;

    .content {
      .box {
        padding: 0;
        img {
          display: block;
          margin: auto;
        }
      }
    }
  }
  &__services-cubes {
    display: grid;
    justify-content: center;
    // padding: 0 auto;
    gap: var(--f-gutter);
    margin-bottom: 100px;
    grid-template-columns: repeat(3, 336px);
    .--flare-block {
      .content {
        .box {
        }
      } 
    }
  }
  &__who-we-are-services {
    background-color: var(--color-neutral-black);
    display: grid;
    grid-template-columns: 347px 693px;
    grid-template-rows: 650px;
    grid-auto-flow: column;
    justify-content: center;
    .--flare-block {
      .content {
        .box {
        }
      }
    }
    #who-we-are-description {
      padding-top: 120px;
      .content {
        .box {
          display: grid;
          gap: var(--f-gutter-l);
          padding-top: 0;
          p {
            color: var(--color-neutral-white);
            margin-bottom: 0;
            strong {
              font-weight: bolder;
            }
          }
          p:last-child {
            width: fit-content;
            font-family: var(--f-mono-text-font);
            background-color: var(--color-accent-pink);
            padding: 11px 20px;
            line-height: 20px;
            a {
              color: var(--color-neutral-white);
              text-decoration: none;              
            }
          }
        }
      }
    }
    #who-we-are-image {
      .content {
        .box {
          img {
            max-width: unset;
            height: 438px;
            transform: translate(1px, 90px);
          }
        }
      }
    }
  }
}